<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>



    <main class="about-us">

        <%- include('header')%>

            <div class="background-attachment">
                <!-- <img src="https://images.unsplash.com/photo-1553603227-2358aabe821e?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""> -->
                <div>

                    <h1>We are LEO CLUB OF HETAUDA BHUTANDEVI CENTENNIAL</h1>
                    <p>A Leo club is a youth organization affiliated with Lions Clubs International, dedicated to
                        community
                        service, leadership
                        development, and fostering a spirit of volunteerism among young people aged 12 to 30. Leo clubs
                        typically organize
                        various service projects, fundraisers, and social activities to make a positive impact in their
                        communities.</p>
                </div>
            </div>

            <div class="we-are-on-mission">
                <h1>We are on a Mission</h1>
                <p>
                    Our mission is to empower Lions clubs, volunteers and partners to improve health and wellbeing,
                    strengthen communities,
                    and support those in need through humanitarian service and grants that impact lives globally, and
                    encourage peace and
                    international understanding. And we fulfill it every day, everywhere we serve.
                </p>
            </div>


            <div class="about-us-card">
                <div id="parallelogram">
                    <img src="https://images.unsplash.com/photo-1502613374390-8da7aa532177?q=80&w=3272&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                </div>
                <div>
                    <h1>Make an Impact With Us</h1>
                    <p>
                        We can make an even bigger difference with you, so come change the world with us.
                    </p>
                    <div>
                        <a href="/join" class="join button">Join</a>
                        <a href="/donate" class="donate button ">Donate</a>
                    </div>
                </div>
            </div>


    </main>
















    <%- include('footer')%>
</body>

</html>