<link rel="stylesheet" href="stylesheets/style.css">

<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

<footer>
    <div>
        <div>
            <img src="/images/leo.jpeg" alt="">
            LEO CLUB OF HETAUDA BHUTANDEVI CENTENNIAL
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, rerum neque. Explicabo sequi inventore aut,
            rerum sit voluptates hic ducimus?</p>
    </div>

    <div>
        <h2>Contact</h2>
        <div>
            <i class="ri-map-pin-2-fill"></i>
            hetauda Makawanpur
        </div>
        <div>
            <i class="ri-mail-fill"></i>
            gmail@gmail.com
        </div>
        <div>
            <i class="ri-phone-fill"></i>
            98989898989
        </div>
        <div>
            <i class="ri-global-line"></i>
            something@link.com
        </div>
    </div>
    <div>
        <h2>Quick Links</h2>
        <a href="/">Home</a>
        <a href="/members">Members</a>
        <a href="/join">Join</a>
        <a href="/donate">Donate</a>
    </div>
</footer>