<link rel="stylesheet" href="/stylesheets/style.css">

<nav>
    <a href="/" class="left">
        <img src="/images/leo.jpeg" alt="">
        <span class="web-title">LEO CLUB OF HETAUDA BHUTANDEVI CENTENNIAL</span>
    </a>

    <div class="middle">
        <a href="/">Home</a>
        <a href="/aboutus">About Us</a>
        <a href="/members">Members</a>
    </div>
    <div class="right">
        <a href="/join" class="join button">Join</a>
        <a href="/donate" class="donate button ">Donate</a>
    </div>
</nav>