<link rel="stylesheet" href="/stylesheets/style.css">

<nav>
    <div class="left">
        <a href="">Leo Club</a>
        <img src="/images/leo.jpeg" alt="">
    </div>
    <div class="middle">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact </a>
    </div>
    <div class="right">
        <button>Donate</button>
        <button>Join</button>
    </div>
</nav>