<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
</head>

<body>





  <main>
    <% try { %>
      <%- include('header') %>
        <% } catch (error) { %>
          <p>Error rendering header: <%= error.message %>
          </p>
          <% } %>



            <div class="slider-container">
              <div class="slider">
                <div class="image">
                  <div>
                    <h1>Welcome To
                      <br>
                      LEO CLUB OF HETAUDA BHUTANDEVI CENTENNIAL
                    </h1>
                    <h1>We are making change</h1>
                    <a href="/join" class="join button">Join</a>
                  </div>
                  <img src="/images/slider1.jpg" alt="Image 1">
                </div>

                <div class="image">
                  <div class="second">
                    <button>See More</button>
                  </div>
                  <img src="/images/slider2.jpg">
                </div>


                <div class="image">
                  <div class="second">
                    <button>See More</button>
                  </div>
                  <img src="/images/slider3.jpg">
                </div>

                <div class="image">
                  <div class="second">
                    <button>See More</button>
                  </div>
                  <img src="/images/slider4.jpg">
                </div>

                <!-- Add more images as needed -->
              </div>
              <!-- <button class="prev" onclick="moveSlider(-1)">Previous</button> -->
              <button class="next" onclick="moveSlider(1)"><i class="ri-arrow-right-wide-line"></i></button>
            </div>



            <div id="about">
              <h2 class="info-title">
                A Leo club is a youth organization affiliated with Lions Clubs International, dedicated to community
                service,
                leadership
                development, and fostering .
              </h2>
              <p class="info">
                a spirit of volunteerism among young people aged 12 to 30. Leo clubs typically
                organize
                various service projects, fundraisers, and social activities to make a positive impact in their
                communities.
              </p>


              <div class="about-container">
                <div class="box">
                  <i class="ri-hand-coin-line"></i>
                  <h1>Make Donation</h1>
                  <h2>Help us by make donation</h2>
                  <p>Raise more money with our custom made solution. Unlimited campai pages pledge giving, monthly
                    giving.</p>
                </div>
                <div class="box">
                  <i class="ri-hand-coin-line"></i>

                  <h1>Make Donation</h1>
                  <h2>Help us by make donation</h2>
                  <p>Raise more money with our custom made solution. Unlimited campai pages pledge giving, monthly
                    giving.</p>
                </div>
                <div class="box">
                  <i class="ri-hand-coin-line"></i>

                  <h1>Make Donation</h1>
                  <h2>Help us by make donation</h2>
                  <p>Raise more money with our custom made solution. Unlimited campai pages pledge giving, monthly
                    giving.</p>
                </div>
              </div>
            </div>


            <div id="recent-activities">

              <h1>Recent Activities</h1>
              <div>
                <p>Your little support can bring smile to the homeless people</p>
                <a href="" class="button">See More</a>
              </div>

              <div class="activities-container">
                <div class="box">
                  <img
                    src="https://chicagoparent.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2022/02/MP-Handpicked-5-credit-peopleimages-696x416.jpeg"
                    alt="">
                  <h2>Insure Education For Every Children</h2>
                  <p>
                    first charity is help homeless people around the city…
                  </p>
                </div>
                <div class="box">
                  <img
                    src="https://chicagoparent.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2022/02/MP-Handpicked-5-credit-peopleimages-696x416.jpeg"
                    alt="">
                  <h2>Insure Education For Every Children</h2>
                  <p>
                    first charity is help homeless people around the city…
                  </p>
                </div>
                <div class="box">
                  <img
                    src="https://chicagoparent.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2022/02/MP-Handpicked-5-credit-peopleimages-696x416.jpeg"
                    alt="">
                  <h2>Insure Education For Every Children</h2>
                  <p>
                    first charity is help homeless people around the city…
                  </p>
                </div>
              </div>
              <a href="/donate" class="donate button ">Donate</a>
            </div>

            <div id="about-info">
              <div class="about-info-why-us">
                <h1 class="about-us-h1">About Us</h1>

                <div class="about-us-our-mission">
                  <div>
                    <h2>Who We Are?</h2>
                    <p>Huminity is the largest Jewish charity in the UK supporting vulnerable children and their
                      families,
                      children
                      with
                      special educational needs and people with learning disabilities.</p>
                  </div>

                  <div>
                    <h2>Our Mission</h2>
                    <p>Huminity is the largest Jewish charity in the UK supporting vulnerable children and their
                      families,
                      children
                      with
                      special educational needs and people with learning disabilities.</p>
                  </div>
                </div>

                <div class="main-person">
                  <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                    alt="">
                  <div>
                    <h3>Jhone Michale</h3>
                    <h4>CEO & Founder of CharityPro</h4>
                  </div>
                  <img class="signature"
                    src="https://a.storyblok.com/f/191576/1200x800/b7ad4902a2/signature_maker_after_.webp" alt="">
                </div>

              </div>
              <div class="why-choose-us">
                <h1 class="why-choose-us-h1">Why Choose Us</h1>
                <div>
                  <div class="box">
                    <h4>
                      <i class="ri-subtract-line active"></i>
                      <i class="ri-add-circle-line"></i>
                      How Can I Make Donation?
                    </h4>
                    <p class="active">Lorem ipsum dolor sit amet, vix an natum labuti eleifd, mel am laoreet menandri.
                      Ei
                      justo
                      complectitur
                      duo. Ei solet tos
                      soletu possit quo. Sea cu justo laudem.</p>
                  </div>
                  <div class="box">
                    <h4>
                      <i class="ri-add-circle-line"></i>
                      <i class="ri-subtract-line"></i>
                      How Can I Make khoya?
                    </h4>
                    <p>Lorem ipsum dolor sit amet, vix an natum labuti eleifd, mel am laoreet menandri. Ei justo
                      complectitur
                      duo. Ei solet tos
                      soletu possit quo. Sea cu justo laudem.</p>
                  </div>
                  <div class="box">
                    <h4>
                      <i class="ri-add-circle-line"></i>
                      <i class="ri-subtract-line"></i>
                      How Can I Make ?
                    </h4>
                    <p>Lorem ipsum dolor sit amet, vix an natum labuti eleifd, mel am laoreet menandri. Ei justo
                      complectitur
                      duo. Ei solet tos
                      soletu possit quo. Sea cu justo laudem.</p>
                  </div>
                </div>


              </div>
            </div>



            <%- include('footer')%>
  </main>
  <script src="javascripts/script.js"></script>
</body>

</html>