<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <!-- header file -->
    <% try { %>
        <%- include('header') %>
            <% } catch (error) { %>
                <p>Error rendering header: <%= error.message %>
                </p>
                <% } %>


                    <main class="members">
                        <h1>All Our Club Members</h1>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur a, unde
                            quidem obcaecati
                            maxime ducimus
                            autem itaque incidunt commodi labore rem sed mollitia asperiores delectus veniam iure
                            recusandae ullam
                            deserunt molestiae quia minus sapiente expedita dolorum? Id earum dolore voluptatibus eum
                            reprehenderit
                            laboriosam est aperiam minus? Illo vitae eum repudiandae?</p>

                        <div class="members-container">
                            <div class="member-box">
                                <img src="https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>

                            <div class="member-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkUD7iu_VLgdUdXR1fFBuo_letwFWX90p6v7umD9lDKQ&s"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>

                            <div class="member-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkUD7iu_VLgdUdXR1fFBuo_letwFWX90p6v7umD9lDKQ&s"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>
                            <div class="member-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQQW8evYocVJa_sUjRKucO4U6qTPHmRLWeIixsej2Jlg&s"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>
                            <div class="member-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQQW8evYocVJa_sUjRKucO4U6qTPHmRLWeIixsej2Jlg&s"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>
                            <div class="member-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQQW8evYocVJa_sUjRKucO4U6qTPHmRLWeIixsej2Jlg&s"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>
                            <div class="member-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQQW8evYocVJa_sUjRKucO4U6qTPHmRLWeIixsej2Jlg&s"
                                    alt="">
                                <div>
                                    <h3>Ashok Giri</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, sapiente!</p>
                                    <div>
                                        989898989898 , Hetauda
                                    </div>
                                </div>
                            </div>


                        </div>
                    </main>


                    <%- include('footer')%>

</body>

</html>