* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--white);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 1px;
}



:root {
  --yellow: rgb(213, 161, 48);
  --grey: rgb(127, 127, 127);
  --dark: rgba(45, 45, 45, 0.747);
  --black: rgb(33, 33, 33);
  --white: rgb(255, 255, 255);
  --blue: rgb(35, 50, 84);
}





img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  line-height: 25px;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--black);
}

nav {
  display: flex;
  margin: 0 auto;
  align-items: center;
  /* height: 7vh; */
  justify-content: space-between;
  position: sticky;
  top: 15px;
  z-index: 9;
  background: var(--dark);
  border-radius: 50px;
  padding: 10px 20px;
  width: 85%;
  margin-bottom: 2rem;
}

nav span.web-title {
  text-transform: capitalize;
  font-size: medium;
  letter-spacing: 1px;
}

nav a {
  color: var(--white);
}

nav .left {
  display: flex;
}

nav a.left {
  font-size: 2vw;
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

nav .middle {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .middle a {
  letter-spacing: 1px;
}


button {
  letter-spacing: 1px;
  background-color: var(--yellow);
  cursor: pointer;
  border: none;
  color: var(--white);
  letter-spacing: 1px;
  font-size: medium;
}

a.button,
input.button {
  background: var(--yellow);
  width: 8rem;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

a.button.join {
  background: green;
}

nav .right {
  display: flex;
  gap: 1rem;
}

main {
  width: calc(100%);
  margin: 0 auto;
}

.slider-container {
  position: relative;
  width: 100vw;
  margin: 5rem auto;
  height: 70vh;
}

.slider {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}



img {
  background: black;
  filter: brightness(60%);
}

.image div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  gap: 1rem;
  align-items: center;
  height: 100%;
  /* background: red; */
  width: 100%;
}

.image div h1:nth-child(1) {
  font-size: 1.5vw;
  letter-spacing: 2px;
}

.image div h1 {
  text-align: center;
  width: 100%;
  text-wrap: nowrap;
}

.image div.second {
  align-items: flex-start;
  align-self: flex-start;
  left: 15%;
  width: fit-content;
  gap: 1rem;
  width: 0%;
}

.image div.second h1 {
  font-size: 3vw;
}

.image div.second p {
  text-wrap: nowrap;
  letter-spacing: 1px;
  font-size: 18px;
}



.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


#about {
  width: 80%;
  min-height: 60vh;
  margin: 0 auto;
  /* background: var(--grey); */
}

#about h2.info-title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#about p.info {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 1px;
}

#about .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 7rem;
}

#about .about-container>div {
  height: 18rem;
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
  position: relative;
}

#about .about-container>div i {
  position: absolute;
  top: -2.4rem;
  height: 5vw;
  width: 5vw;
  font-size: 2.6vw;
  border-radius: 50%;
  border: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
}

#recent-activities {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5rem auto;
  gap: 1rem;
}

#recent-activities>div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#recent-activities .activities-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#recent-activities .activities-container>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--grey);
  padding-bottom: 10px;
}

#recent-activities .activities-container>div h2,
#recent-activities .activities-container>div p {
  width: 70%;
  margin: 0 auto;
}

#recent-activities button.last {
  margin: 0 auto;
  /* margin-top: 1rem; */
  width: 10rem;
}

#about-info {
  display: flex;
  width: 80%;
  min-height: 60vh;
  margin: 0 auto;
}


#about-info .about-info-why-us {
  width: 65%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}

.why-choose-us-h1,
.about-us-h1 {
  font-size: 3vw;
}

#about-info .about-info-why-us .about-us-our-mission {
  display: flex;
  width: 100%;
  text-align: justify;
  gap: 10px;
}

#about-info .about-info-why-us .about-us-our-mission p {
  width: 80%;
}

#about-info .about-info-why-us .main-person {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

#about-info .about-info-why-us .main-person img:nth-child(1) {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#about-info .about-info-why-us .main-person img.signature {
  border-radius: none;
  height: 100px;
  width: 100px;
}

#about-info .why-choose-us {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  padding: 10px;
}

#about-info .why-choose-us>div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--grey);
  padding: 10px;
}

#about-info .why-choose-us>div>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#about-info .why-choose-us>div>div>h4 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  padding: 10px 0;
}



#about-info .why-choose-us>div>div>h4 i.ri-subtract-line {
  display: none;
}

#about-info .why-choose-us>div>div>p {
  display: none;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 15px;
  opacity: .8;
}

#about-info .why-choose-us>div>div>p.active {
  display: flex;
}

/* opacity: .8; */

#about-info .why-choose-us>div>div>p,
#about-info .why-choose-us>div>div>h4 {
  width: 90%;
  margin: 0 auto;
}



/* join us page */
main.joinus {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

main.joinus p {
  width: 80%;
  line-height: 30px;
}

main.joinus input[type="file"] {
  background: var(--grey);
  background: red;
}

main.joinus form input {
  padding: 20px;
  width: 20rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  letter-spacing: 1px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--black);
}

main.joinus .choose-image span {
  background: var(--blue);
  width: 20rem;
  height: initial !important;
  padding: 20px !important;
  color: #fff;
}

main.joinus .choose-image-and-preview {
  display: flex;
  /* justify-content: flex-start; */
  width: fit-content;
  width: 40rem;
  justify-content: center;
  align-items: flex-start;
}

.image-preview-in-join {
  height: 20rem;
  width: 20rem;
  border-radius: 10px;
}

/* members page */

main.members {
  width: 80%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main.members p.info {
  line-height: 30px;
  width: 80%;
}

main.members .members-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  margin-top: 1rem;
}

main.members .members-container .member-box {
  width: calc(100% / 4 - 10px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  background: var(--grey);
  overflow-y: hidden;
  height: 32rem;
}

main.members .members-container .member-box img {
  height: 70%;
  transition: .5s ease-in-out;
}

main.members .members-container .member-box:hover>img {
  scale: 1.1;
}

main.members .members-container .member-box>div {
  transition: .5s ease-in-out;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

main.members .members-container .member-box:hover>div {
  margin-top: 1rem;
}

/* about us */
.background-attachment {
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.background-attachment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1553603227-2358aabe821e?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  /* Reduce the brightness of the background */
}

.background-attachment div {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  width: 60%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  z-index: 1;
}



.background-attachment div h1 {
  font-size: 2vw;
  line-height: 50px;
}

.background-attachment div p {
  line-height: 25px;
}

main.about-us div.we-are-on-mission {
  background: var(--grey);
  height: 20vh;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--blue);
  text-align: justify;
}

.about-us-card {
  width: 80%;
  margin: 0 auto;
  background: var(--grey);
  height: 40vh;
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about-us-card>div:nth-child(2) {
  /* background: honeydew; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
}


.about-us-card img {
  object-position: left;
}

#parallelogram {
  width: 40%;
  height: 100%;
  transform: skew(-20deg);
  position: relative;
  left: -5rem;
  background: red;
}




/* make donation */
.make-donation-info {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}

.make-donation-info p {
  width: 80%;
}

.how-would-you-like-to-pay {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
}

.how-would-you-like-to-pay div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.donation-image {
  height: 80vh;
  width: 80%;
  background: var(--grey);
  margin: 0 auto;
  margin-top: 5rem;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.donation-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.donation-image video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  /* Apply brightness filter to the video */
}

.donation-image div {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  z-index: 1;
}

/* activities */

#activities {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}


#activities>div {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  min-height: 40vh;

}

#preview {
  height: 38vh;
  width: 30%;
  border-radius: 10px;
  margin-top: 1rem;
  object-fit: contain !important;
}


#activities form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

#activities form input,
#activities form textarea {
  padding: 20px;
  color: var(--black);
  outline: none;
  border: none;
  border-radius: 10px;
}

.choose-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;

}

.choose-image #preview {
  height: 10rem;
}

.choose-image span {
  position: absolute;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 16px;
  width: 100%;
  left: 0;
  border-radius: 10px;
  height: 100%;
}

.choose-image input {
  height: 100%;
  width: 100%;
  opacity: 0;
}




/*footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40vh;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10%;
  background: #111;
  margin-top: 5rem;
}

footer img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

footer>div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer>div:nth-child(1) {
  width: 25%;
}

footer>div:nth-child(1)>div {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 25px;
}

footer>div:nth-child(1) p {
  line-height: 25px;
}

footer>div:nth-child(2)>div {
  display: flex;
  align-items: center;
  gap: 10px;
}